<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Multifarious Widget Responsive Widget Template :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Multifarious Widget template Responsive, Login form web template,Flat Pricing tables,Flat Drop downs Sign up Web Templates,
 Flat Web Templates, Login sign up Responsive web template, SmartPhone Compatible web template, free web designs for Nokia, Samsung, LG, SonyEricsson, Motorola web design">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
<link href="/css/account.css" rel='stylesheet' type='text/css' />
<!--fonts-->
<link href="/css/roboto.css" rel="stylesheet">
<link href="/css/cabin.css" rel="stylesheet">
<!--//fonts-->
</head>
<body>
	{{{body}}}
<!--copyright-->
<div class="copy w3ls">
	<p>&copy; 2017 Multifarious Widget . All Rights Reserved  | Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
</div>
<!--//copyright-->
</body>
</html>
