<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Night owls squad - Achievement huh wisdom (Dat Ha Minh)</title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/default.css" rel="stylesheet">
    <link href="/css/login.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/font-awesome/css/font-awesome.css" rel="stylesheet">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="bgimg">
        <nav class="dathm-navbar navbar navbar-inverse navbar-fixed-top" id="nav">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="/"><span class="fa fa-home"></span> LOGO</a>
                  <a class="navbar-brand" href="https://www.facebook.com/minhdat.001"><span class="fa fa-facebook"></span></a>
                  <a class="navbar-brand" href="https://twitter.com/?lang=vi"><span class="fa fa-twitter"></span></a>
                  <a class="navbar-brand" href="https://plus.google.com/u/1/108224163642553600677"><span class="fa fa-google-plus"></span></a>
                  <a class="navbar-brand" href="https://www.youtube.com/channel/UC38wpzZNeQkbatGaV7ZsX1Q"><span class="fa fa-youtube"></span></a>
                  <a class="navbar-brand" href="https://www.instagram.com/ha.m.dat_z.a.o_/"><span class="fa fa-instagram"></span></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <form class="navbar-form navbar-right" method="post" action="/searchname">
                    <div class="inline search form-group">
                      <input type="text" class="form-control" name="searchValue" placeholder="Search">
                    </div>
                    <button class="btn-search inline submit"><i class="dathm-form-search fa fa-search"></i></button>
                    {{#if user}}
                        <a class="inline dathm-account" href="#" >{{user.name}}</a>
                        <span class="inline dathm-account" >|</span>
                        <a class="inline dathm-account" href="/customers/logout" >Logout</a>
                    {{else}}
                        <a class="inline dathm-account" href="#" data-toggle="modal" data-target="#login-modal">Login</a>
                        <span class="inline dathm-account" >|</span>
                        <a class="inline dathm-account" href="#" data-toggle="modal" data-target="#register-modal">Register</a>
                    {{/if}}
                  </form>

                  <ul class="nav navbar-nav navbar-right">
                    <li><a href="#dathm-about">About</a></li>
                    <li><a href="#dathm-services">Services</a></li>
                    <li><a href="#dathm-gallery">Gallery</a></li>
                    <li><a href="#dathm-contact">Contact</a></li>
                    <li><a class="inline" href="javascript:void(0)" onclick=""><i class="dathm-form-cart fa fa-shopping-cart"></i></a></li>
                  </ul>

                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </div>

    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    	<div class="modal-dialog">
			<div class="loginmodal-container">
				<h1>Login to Your Account</h1><br>
				<form method="post" action="/customers/login">
					<input type="text" name="username" placeholder="Username">
					<input type="password" name="password" placeholder="Password">
					<input type="submit" name="login" class="login loginmodal-submit" value="Login">
				</form>

				<div class="login-help">
					<a href="#" data-toggle="modal" data-target="#register-modal">Register</a> - <a href="#">Forgot Password</a>
				</div>
			</div>
		</div>
	</div>

    <div class="modal fade" id="register-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    	<div class="modal-dialog">
			<div class="loginmodal-container">
				<h1>Login to Your Account</h1><br>
                {{#if errors}}
                    {{#each errors}}
                        <div class="alert alert-danger">{{msg}}</div>
                    {{/each}}
                {{/if}}
				<form method="post" action="/customers/register">
                    <input type="button" class="choose-img" id="choose-img" name="choose-img" value="Choosen Image">
                    <input type="text" id="image" name="image" placeholder="Image url">
                    <input type="text" name="name" placeholder="Name">
                    <input type="text" name="username" placeholder="Username">
                    <input type="text" name="email" placeholder="Email">
                    <input type="text" name="phone" placeholder="Phone">
					<input type="password" name="password" placeholder="Password">
                    <input type="password" placeholder="Password" name="password2">
					<input type="submit" name="register" class="login loginmodal-submit" value="Register">
				</form>
			</div>
		</div>
	</div>

    {{{body}}}

    <div class="dathm-contact" id="dathm-contact">
        <div class="container">
            <div class="row headding">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="line"></div>
                    <div class="text-headding"><span><a>Contact</a></span></div>

                </div>
            </div>

        </div> <!--container-->
    </div> <!--dathm-contact-->

    <div class="dathm-contact-cover">
        <div class="clearfix">
            <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2 text-center">
                <div class="distance"></div>

                <div class="contact-row">
                    <div class="row-up">
                        <h2>Contact Us</h2>
                    </div>
                    <div class="row-down">
                        <div class="module-icon-item">
                            <i class="default fa fa-map-o"></i>
                            <span>HCMC, VietNam.</span>
                        </div>
                        <div class="module-icon-item">
                            <i class="green fa fa-envelope-o"></i>
                            <span>1312120@student.hcmus.edu.vn</span>
                        </div>
                        <div class="module-icon-item">
                            <i class="orange fa fa-phone-square"></i>
                            <span>098-352-23-69</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div> <!--dathm-contact-cover-->


    <!-- Footer -->
    <div class="dathm-footer">
        <footer>
            <div class="row">
                <div  class="col-md-12">
                    <div class="footer-social">
                        <ul class="social-links">
                            <li class="social-link-item facebook font-icon icon-medium">
                                <a href="https://www.facebook.com/minhdat.001" target="_blank"><i class="fa fa-facebook"></i>  </a>
                            </li>
                            <!-- /themify-link-item -->
                            <li class="social-link-item twitter font-icon icon-medium">
                                <a href="https://twitter.com/?lang=vi" target="_blank"><i class="fa fa-twitter"></i>  </a>
                            </li>
                            <!-- /themify-link-item -->
                            <li class="social-link-item google font-icon icon-medium">
                                <a href="https://plus.google.com/u/1/108224163642553600677" target="_blank"><i class="fa fa-google-plus"></i>  </a>
                            </li>
                            <!-- /themify-link-item -->
                            <li class="social-link-item youtube font-icon icon-medium">
                                <a href="https://www.youtube.com/channel/UC38wpzZNeQkbatGaV7ZsX1Q" target="_blank"><i class="fa fa-youtube"></i>  </a>
                            </li>
                            <!-- /themify-link-item -->
                            <li class="social-link-item instagram font-icon icon-medium">
                                <a href="https://www.instagram.com/ha.m.dat_z.a.o_/" target="_blank"><i class="fa fa-instagram"></i>  </a>
                            </li>
                            <!-- /themify-link-item --></ul>
                    </div>
                    <div class="footer-licence">
                        <p>Copyright &copy; My Website 2017</p>
                    </div>
                </div>

            </div>
        </footer>
    </div>

    <ul class="nav pull-right scroll-top">
        <li><a href="#" title="Scroll to top"><i class="glyphicon glyphicon-chevron-up"></i></a></li>
    </ul>

    <!-- jQuery -->
    <script src="/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

     <!-- jQuery -->
    <script src="/js/mypage.js"></script>

    <script src="/js/all.js"></script>

    <script type="text/javascript">
        document.getElementById("choose-img").addEventListener("click", function ()  {
            cloudinary.openUploadWidget({ cloud_name: 'hcmus-edu', upload_preset: 'pczoogcr', cropping: 'server', multiple: false},
            function(error, result) {
                document.getElementById("image").value = result[0].url;
            });
        });
    </script>

</body>

</html>

