<!DOCTYPE html>
<!-- saved from url=(0051)http://bucketadmin.themebucket.net/fontawesome.html -->
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="http://bucketadmin.themebucket.net/images/favicon.png">
    <title>BucketAdmin</title>

    <!--Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/jquery-ui-1.10.1.custom.min.css" rel="stylesheet">
    <link href="/css/bootstrap-reset.css" rel="stylesheet">
    <link href="/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="/css/jquery-jvectormap-1.2.2.css" rel="stylesheet">
    <link href="/css/clndr.css" rel="stylesheet">
    <!--clock css-->
    <link href="/css/style.css" rel="stylesheet">
    <!--Morris Chart CSS -->
    <link rel="stylesheet" href="/css/morris.css">
    <!-- Custom styles for this template -->
    <link href="/css/style(1).css" rel="stylesheet">
    <link href="/css/style-responsive.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]>
    <script src="js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
        .jqstooltip {
            position: absolute;
            left: 30px;
            top: 0px;
            display: block;
            visibility: hidden;
            background: rgb(0, 0, 0) transparent;
            background-color: rgba(0, 0, 0, 0.6);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
            -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
            color: white;
            font: 10px arial, san serif;
            text-align: left;
            white-space: nowrap;
            border: 0px solid white;
            border-radius: 3px;
            -webkit-border-radius: 3px;
            z-index: 10000;
        }

        .jqsfield {
            color: white;
            padding: 5px 5px 5px 5px;
            font: 10px arial, san serif;
            text-align: left;
        }
    </style>
</head>

<body style="">

    <section id="container">
        <!--header start-->
        <header class="header fixed-top clearfix">
            <!--logo start-->
            <div class="brand">

                <a href="http://bucketadmin.themebucket.net/index.html" class="logo">
                    <img src="/images/logo.png" alt="">
                </a>
                <div class="sidebar-toggle-box">
                    <div class="fa fa-bars"></div>
                </div>
            </div>
            <!--logo end-->

            <div class="nav notify-row" id="top_menu">
                <!--  notification start -->
                <ul class="nav top-menu">
                    <!-- settings start -->
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="http://bucketadmin.themebucket.net/fontawesome.html#">
                            <i class="fa fa-tasks"></i>
                            <span class="badge bg-success">8</span>
                        </a>
                        <ul class="dropdown-menu extended tasks-bar">
                            <li>
                                <p class="">You have 8 pending tasks</p>
                            </li>
                            <li>
                                <a href="http://bucketadmin.themebucket.net/fontawesome.html#">
                                    <div class="task-info clearfix">
                                        <div class="desc pull-left">
                                            <h5>Target Sell</h5>
                                            <p>25% , Deadline 12 June’13</p>
                                        </div>
                                        <span class="notification-pie-chart pull-right" data-percent="45">
                            <span class="percent">45</span>
                                        <canvas height="50" width="50"></canvas>
                                        </span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="http://bucketadmin.themebucket.net/fontawesome.html#">
                                    <div class="task-info clearfix">
                                        <div class="desc pull-left">
                                            <h5>Product Delivery</h5>
                                            <p>45% , Deadline 12 June’13</p>
                                        </div>
                                        <span class="notification-pie-chart pull-right" data-percent="78">
                            <span class="percent">78</span>
                                        <canvas height="50" width="50"></canvas>
                                        </span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="http://bucketadmin.themebucket.net/fontawesome.html#">
                                    <div class="task-info clearfix">
                                        <div class="desc pull-left">
                                            <h5>Payment collection</h5>
                                            <p>87% , Deadline 12 June’13</p>
                                        </div>
                                        <span class="notification-pie-chart pull-right" data-percent="60">
                            <span class="percent">60</span>
                                        <canvas height="50" width="50"></canvas>
                                        </span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="http://bucketadmin.themebucket.net/fontawesome.html#">
                                    <div class="task-info clearfix">
                                        <div class="desc pull-left">
                                            <h5>Target Sell</h5>
                                            <p>33% , Deadline 12 June’13</p>
                                        </div>
                                        <span class="notification-pie-chart pull-right" data-percent="90">
                            <span class="percent">90</span>
                                        <canvas height="50" width="50"></canvas>
                                        </span>
                                    </div>
                                </a>
                            </li>

                            <li class="external">
                                <a href="http://bucketadmin.themebucket.net/fontawesome.html#">See All Tasks</a>
                            </li>
                        </ul>
                    </li>
                    <!-- settings end -->
                    <!-- inbox dropdown start-->
                    <li id="header_inbox_bar" class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="http://bucketadmin.themebucket.net/fontawesome.html#">
                            <i class="fa fa-envelope-o"></i>
                            <span class="badge bg-important">4</span>
                        </a>
                        <ul class="dropdown-menu extended inbox">
                            <li>
                                <p class="red">You have 4 Mails</p>
                            </li>
                            <li>
                                <a href="http://bucketadmin.themebucket.net/fontawesome.html#">
                                    <span class="photo"><img alt="avatar" src="/images/avatar-mini.jpg"></span>
                                    <span class="subject">
                                <span class="from">Jonathan Smith</span>
                                    <span class="time">Just now</span>
                                    </span>
                                    <span class="message">
                                    Hello, this is an example msg.
                                </span>
                                </a>
                            </li>
                            <li>
                                <a href="http://bucketadmin.themebucket.net/fontawesome.html#">
                                    <span class="photo"><img alt="avatar" src="/images/avatar-mini-2.jpg"></span>
                                    <span class="subject">
                                <span class="from">Jane Doe</span>
                                    <span class="time">2 min ago</span>
                                    </span>
                                    <span class="message">
                                    Nice admin template
                                </span>
                                </a>
                            </li>
                            <li>
                                <a href="http://bucketadmin.themebucket.net/fontawesome.html#">
                                    <span class="photo"><img alt="avatar" src="/images/avatar-mini-3.jpg"></span>
                                    <span class="subject">
                                <span class="from">Tasi sam</span>
                                    <span class="time">2 days ago</span>
                                    </span>
                                    <span class="message">
                                    This is an example msg.
                                </span>
                                </a>
                            </li>
                            <li>
                                <a href="http://bucketadmin.themebucket.net/fontawesome.html#">
                                    <span class="photo"><img alt="avatar" src="/images/avatar-mini.jpg"></span>
                                    <span class="subject">
                                <span class="from">Mr. Perfect</span>
                                    <span class="time">2 hour ago</span>
                                    </span>
                                    <span class="message">
                                    Hi there, its a test
                                </span>
                                </a>
                            </li>
                            <li>
                                <a href="http://bucketadmin.themebucket.net/fontawesome.html#">See all messages</a>
                            </li>
                        </ul>
                    </li>
                    <!-- inbox dropdown end -->
                    <!-- notification dropdown start-->
                    <li id="header_notification_bar" class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="http://bucketadmin.themebucket.net/fontawesome.html#">

                            <i class="fa fa-bell-o"></i>
                            <span class="badge bg-warning">3</span>
                        </a>
                        <ul class="dropdown-menu extended notification">
                            <li>
                                <p>Notifications</p>
                            </li>
                            <li>
                                <div class="alert alert-info clearfix">
                                    <span class="alert-icon"><i class="fa fa-bolt"></i></span>
                                    <div class="noti-info">
                                        <a href="http://bucketadmin.themebucket.net/fontawesome.html#"> Server #1 overloaded.</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="alert alert-danger clearfix">
                                    <span class="alert-icon"><i class="fa fa-bolt"></i></span>
                                    <div class="noti-info">
                                        <a href="http://bucketadmin.themebucket.net/fontawesome.html#"> Server #2 overloaded.</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="alert alert-success clearfix">
                                    <span class="alert-icon"><i class="fa fa-bolt"></i></span>
                                    <div class="noti-info">
                                        <a href="http://bucketadmin.themebucket.net/fontawesome.html#"> Server #3 overloaded.</a>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </li>
                    <!-- notification dropdown end -->
                </ul>
                <!--  notification end -->
            </div>
            <div class="top-nav clearfix">
                <!--search & user info start-->
                <ul class="nav pull-right top-menu">
                    <li>
                        <input type="text" class="form-control search" placeholder=" Search">
                    </li>
                    <!-- user login dropdown start-->
                    <li class="dropdown">
                        {{#if user}}
                        <a data-toggle="dropdown" class="dropdown-toggle" href="http://bucketadmin.themebucket.net/fontawesome.html#">
                            <img alt="" src="{{user.image}}">
                            <span class="username">{{user.username}}</span>
                            <b class="caret"></b>
                        </a>
                        {{else}}
                        <a data-toggle="dropdown" class="dropdown-toggle" href="http://bucketadmin.themebucket.net/fontawesome.html#">
                            <img alt="" src="/images/avatar1_small.jpg">
                            <span class="username">John Doe</span>
                            <b class="caret"></b>
                        </a>
                        {{/if}}
                        <ul class="dropdown-menu extended logout">
                            <li><a href="http://bucketadmin.themebucket.net/fontawesome.html#"><i class=" fa fa-suitcase"></i>Profile</a></li>
                            <li><a href="http://bucketadmin.themebucket.net/fontawesome.html#"><i class="fa fa-cog"></i> Settings</a></li>
                            <li><a href="http://bucketadmin.themebucket.net/login.html"><i class="fa fa-key"></i> Log Out</a></li>
                        </ul>
                    </li>
                    <!-- user login dropdown end -->
                    <li>
                        <div class="toggle-right-box">
                            <div class="fa fa-bars"></div>
                        </div>
                    </li>
                </ul>
                <!--search & user info end-->
            </div>
        </header>
        <!--header end-->
        <aside>
            <div id="sidebar" class="nav-collapse">
                <!-- sidebar menu start-->
                <div class="leftside-navigation" tabindex="5000" style="overflow: hidden; outline: none;">
                    <ul class="sidebar-menu" id="nav-accordion">
                        <li>
                            <a href="/admin">
                                <i class="fa fa-dashboard"></i>
                                <span>Dashboard</span>
                            </a>
                        </li>
                        <li>
                            <a href="/admin/tours/all">
                                <i class="fa fa-flag"></i>
                                <span>Tours</span>
                            </a>
                        </li>
                        <li>
                            <a href="/admin/cities/all">
                                <i class="fa fa-university"></i>
                                <span>cities</span>
                            </a>
                        </li>
                        <li>
                            <a href="/orders/all">
                                <i class="fa fa-cube"></i>
                                <span>Orders</span>
                            </a>
                        </li>
                        <li>
                            <a href="/admin/tours/add">
                                <i class="fa fa-plus"></i>
                                <span>Add Tour</span>
                            </a>
                        </li>
                        <li>
                            <a href="/admin/cities/add">
                                <i class="fa fa-plus"></i>
                                <span>Add City</span>
                            </a>
                        </li>
                         <li>
                            <a href="http://bucketadmin.themebucket.net/">
                                <i class="fa fa-code"></i>
                                <span>Template</span>
                            </a>
                        </li>
                        {{#if user}}
                         <li>
                            <a href="/admin/user/logout">
                                <i class="fa fa-sign-out"></i>
                                <span>Logout Page</span>
                            </a>
                        </li>
                        {{else}}
                        <li>
                            <a href="/admin/user/login">
                                <i class="fa fa-user"></i>
                                <span>Login Page</span>
                            </a>
                        </li>
                        <li>
                            <a href="/admin/user/register">
                                <i class="fa fa-user-plus"></i>
                                <span>Register</span>
                            </a>
                        </li>
                        {{/if}}
                    </ul>
                </div>
                <!-- sidebar menu end-->
                <div id="ascrail2000" class="nicescroll-rails" style="width: 3px; z-index: auto; cursor: default; position: absolute; top: 0px; left: 237px; height: 605px; opacity: 0; display: block;">
                    <div style="position: relative; top: 0px; float: right; width: 3px; height: 641px; background-color: rgb(31, 181, 173); border: 0px solid rgb(255, 255, 255); background-clip: padding-box; border-radius: 0px;"></div>
                </div>
                <div id="ascrail2000-hr" class="nicescroll-rails" style="height: 3px; z-index: auto; top: 602px; left: 0px; position: absolute; cursor: default; display: none; width: 237px; opacity: 0;">
                    <div style="position: relative; top: 0px; height: 3px; width: 240px; background-color: rgb(31, 181, 173); border: 0px solid rgb(255, 255, 255); background-clip: padding-box; border-radius: 0px;"></div>
                </div>
            </div>
        </aside>
        <!--sidebar end-->
        <!--main content start-->
        <section id="main-content">
            <div class="wrapper">
                {{{body}}}
            </div>
        </section>
        <!--main content end-->
        <!--right sidebar start-->
        <div class="right-sidebar">
            <div class="search-row">
                <input type="text" placeholder="Search" class="form-control">
            </div>
            <div class="right-stat-bar" tabindex="5001" style="overflow: hidden; outline: none;">
                <ul class="right-side-accordion">
                    <li class="widget-collapsible">
                        <a href="http://bucketadmin.themebucket.net/fontawesome.html#" class="head widget-head red-bg active clearfix">
                            <span class="pull-left">work progress (5)</span>
                            <span class="pull-right widget-collapse"><i class="ico-minus"></i></span>
                        </a>
                        <ul class="widget-container">
                            <li>
                                <div class="prog-row side-mini-stat clearfix">
                                    <div class="side-graph-info">
                                        <h4>Target sell</h4>
                                        <p>
                                            25%, Deadline 12 june 13
                                        </p>
                                    </div>
                                    <div class="side-mini-graph">
                                        <div class="target-sell" style="padding: 0px; position: relative;">
                                            <canvas class="flot-base" width="70" height="40" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 70px; height: 40px;"></canvas>
                                            <canvas class="flot-overlay" width="70" height="40" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 70px; height: 40px;"></canvas>
                                        </div>
                                    </div>
                                </div>
                                <div class="prog-row side-mini-stat">
                                    <div class="side-graph-info">
                                        <h4>product delivery</h4>
                                        <p>
                                            55%, Deadline 12 june 13
                                        </p>
                                    </div>
                                    <div class="side-mini-graph">
                                        <div class="p-delivery">
                                            <div class="sparkline" data-type="bar" data-resize="true" data-height="30" data-width="90%" data-bar-color="#39b7ab" data-bar-width="5"
                                                data-data="[200,135,667,333,526,996,564,123,890,564,455]">
                                                <canvas width="65" height="30" style="display: inline-block; width: 65px; height: 30px; vertical-align: top;"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="prog-row side-mini-stat">
                                    <div class="side-graph-info payment-info">
                                        <h4>payment collection</h4>
                                        <p>
                                            25%, Deadline 12 june 13
                                        </p>
                                    </div>
                                    <div class="side-mini-graph">
                                        <div class="p-collection">
                                            <span class="pc-epie-chart" data-percent="45">
						<span class="percent">45</span>
                                            <canvas height="50" width="50"></canvas>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="prog-row side-mini-stat">
                                    <div class="side-graph-info">
                                        <h4>delivery pending</h4>
                                        <p>
                                            44%, Deadline 12 june 13
                                        </p>
                                    </div>
                                    <div class="side-mini-graph">
                                        <div class="d-pending">
                                            <canvas width="40" height="40" style="display: inline-block; width: 40px; height: 40px; vertical-align: top;"></canvas>
                                        </div>
                                    </div>
                                </div>
                                <div class="prog-row side-mini-stat">
                                    <div class="col-md-12">
                                        <h4>total progress</h4>
                                        <p>
                                            50%, Deadline 12 june 13
                                        </p>
                                        <div class="progress progress-xs mtop10">
                                            <div style="width: 50%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="20" role="progressbar" class="progress-bar progress-bar-info">
                                                <span class="sr-only">50% Complete</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="widget-collapsible">
                        <a href="http://bucketadmin.themebucket.net/fontawesome.html#" class="head widget-head terques-bg active clearfix">
                            <span class="pull-left">contact online (5)</span>
                            <span class="pull-right widget-collapse"><i class="ico-minus"></i></span>
                        </a>
                        <ul class="widget-container">
                            <li>
                                <div class="prog-row">
                                    <div class="user-thumb">
                                        <a href="http://bucketadmin.themebucket.net/fontawesome.html#"><img src="/images/avatar1_small.jpg" alt=""></a>
                                    </div>
                                    <div class="user-details">
                                        <h4><a href="http://bucketadmin.themebucket.net/fontawesome.html#">Jonathan Smith</a></h4>
                                        <p>
                                            Work for fun
                                        </p>
                                    </div>
                                    <div class="user-status text-danger">
                                        <i class="fa fa-comments-o"></i>
                                    </div>
                                </div>
                                <div class="prog-row">
                                    <div class="user-thumb">
                                        <a href="http://bucketadmin.themebucket.net/fontawesome.html#"><img src="/images/avatar1.jpg" alt=""></a>
                                    </div>
                                    <div class="user-details">
                                        <h4><a href="http://bucketadmin.themebucket.net/fontawesome.html#">Anjelina Joe</a></h4>
                                        <p>
                                            Available
                                        </p>
                                    </div>
                                    <div class="user-status text-success">
                                        <i class="fa fa-comments-o"></i>
                                    </div>
                                </div>
                                <div class="prog-row">
                                    <div class="user-thumb">
                                        <a href="http://bucketadmin.themebucket.net/fontawesome.html#"><img src="/images/chat-avatar2.jpg" alt=""></a>
                                    </div>
                                    <div class="user-details">
                                        <h4><a href="http://bucketadmin.themebucket.net/fontawesome.html#">John Doe</a></h4>
                                        <p>
                                            Away from Desk
                                        </p>
                                    </div>
                                    <div class="user-status text-warning">
                                        <i class="fa fa-comments-o"></i>
                                    </div>
                                </div>
                                <div class="prog-row">
                                    <div class="user-thumb">
                                        <a href="http://bucketadmin.themebucket.net/fontawesome.html#"><img src="/images/avatar1_small.jpg" alt=""></a>
                                    </div>
                                    <div class="user-details">
                                        <h4><a href="http://bucketadmin.themebucket.net/fontawesome.html#">Mark Henry</a></h4>
                                        <p>
                                            working
                                        </p>
                                    </div>
                                    <div class="user-status text-info">
                                        <i class="fa fa-comments-o"></i>
                                    </div>
                                </div>
                                <div class="prog-row">
                                    <div class="user-thumb">
                                        <a href="http://bucketadmin.themebucket.net/fontawesome.html#"><img src="/images/avatar1.jpg" alt=""></a>
                                    </div>
                                    <div class="user-details">
                                        <h4><a href="http://bucketadmin.themebucket.net/fontawesome.html#">Shila Jones</a></h4>
                                        <p>
                                            Work for fun
                                        </p>
                                    </div>
                                    <div class="user-status text-danger">
                                        <i class="fa fa-comments-o"></i>
                                    </div>
                                </div>
                                <p class="text-center">
                                    <a href="http://bucketadmin.themebucket.net/fontawesome.html#" class="view-btn">View all Contacts</a>
                                </p>
                            </li>
                        </ul>
                    </li>
                    <li class="widget-collapsible">
                        <a href="http://bucketadmin.themebucket.net/fontawesome.html#" class="head widget-head purple-bg active">
                            <span class="pull-left"> recent activity (3)</span>
                            <span class="pull-right widget-collapse"><i class="ico-minus"></i></span>
                        </a>
                        <ul class="widget-container">
                            <li>
                                <div class="prog-row">
                                    <div class="user-thumb rsn-activity">
                                        <i class="fa fa-clock-o"></i>
                                    </div>
                                    <div class="rsn-details ">
                                        <p class="text-muted">
                                            just now
                                        </p>
                                        <p>
                                            <a href="http://bucketadmin.themebucket.net/fontawesome.html#">Jim Doe </a>Purchased
                                            new equipments for zonal office setup
                                        </p>
                                    </div>
                                </div>
                                <div class="prog-row">
                                    <div class="user-thumb rsn-activity">
                                        <i class="fa fa-clock-o"></i>
                                    </div>
                                    <div class="rsn-details ">
                                        <p class="text-muted">
                                            2 min ago
                                        </p>
                                        <p>
                                            <a href="http://bucketadmin.themebucket.net/fontawesome.html#">Jane Doe </a>Purchased
                                            new equipments for zonal office setup
                                        </p>
                                    </div>
                                </div>
                                <div class="prog-row">
                                    <div class="user-thumb rsn-activity">
                                        <i class="fa fa-clock-o"></i>
                                    </div>
                                    <div class="rsn-details ">
                                        <p class="text-muted">
                                            1 day ago
                                        </p>
                                        <p>
                                            <a href="http://bucketadmin.themebucket.net/fontawesome.html#">Jim Doe </a>Purchased
                                            new equipments for zonal office setup
                                        </p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="widget-collapsible">
                        <a href="http://bucketadmin.themebucket.net/fontawesome.html#" class="head widget-head yellow-bg active">
                            <span class="pull-left"> shipment status</span>
                            <span class="pull-right widget-collapse"><i class="ico-minus"></i></span>
                        </a>
                        <ul class="widget-container">
                            <li>
                                <div class="col-md-12">
                                    <div class="prog-row">
                                        <p>
                                            Full sleeve baby wear (SL: 17665)
                                        </p>
                                        <div class="progress progress-xs mtop10">
                                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"
                                                style="width: 40%">
                                                <span class="sr-only">40% Complete</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="prog-row">
                                        <p>
                                            Full sleeve baby wear (SL: 17665)
                                        </p>
                                        <div class="progress progress-xs mtop10">
                                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                                                <span class="sr-only">70% Completed</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div id="ascrail2001" class="nicescroll-rails" style="width: 3px; z-index: 1000; cursor: default; position: absolute; top: 74px; left: 237px; height: 605px; opacity: 0;">
                <div style="position: relative; top: 0px; float: right; width: 3px; height: 298px; background-color: rgb(31, 181, 173); border: 0px solid rgb(255, 255, 255); background-clip: padding-box; border-radius: 0px;"></div>
            </div>
            <div id="ascrail2001-hr" class="nicescroll-rails" style="height: 3px; z-index: 1000; top: 676px; left: 0px; position: absolute; cursor: default; display: none; width: 237px; opacity: 0;">
                <div style="position: relative; top: 0px; height: 3px; width: 240px; background-color: rgb(31, 181, 173); border: 0px solid rgb(255, 255, 255); background-clip: padding-box; border-radius: 0px;"></div>
            </div>
        </div>
        <!--right sidebar end-->

    </section>
    <!-- Placed js at the end of the document so the pages load faster -->
    <!--Core js-->
    <script src="/js/jquery.js"></script>
    <script src="/js/jquery-ui.js"></script>
    <script src="/js/jquery-ui-1.10.1.custom.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script class="include" type="text/javascript" src="/images/jquery.dcjqaccordion.2.7.js"></script>
    <script src="/js/jquery.scrollTo.min.js"></script>
    <script src="/js/jquery.slimscroll.js"></script>
    <script src="/js/jquery.nicescroll.js"></script>
    <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="js/flot-chart/excanvas.min.js"></script><![endif]-->
    <script src="/js/skycons.js"></script>
    <script src="/js/jquery.scrollTo.js"></script>
    <script src="/js/jquery.easing.min.js"></script>
    <script src="/js/clndr.js"></script>
    <script src="/js/underscore-min.js"></script>
    <script src="/js/moment-2.2.1.js"></script>
    <script src="/js/evnt.calendar.init.js"></script>
    <script src="/js/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="/js/jquery-jvectormap-us-lcc-en.js"></script>
    <script src="/js/gauge.js"></script>
    <!--clock init-->
    <script src="/js/css3clock.js"></script>
    <!--Easy Pie Chart-->
    <script src="/js/jquery.easypiechart.js"></script>
    <!--Sparkline Chart-->
    <script src="/js/jquery.sparkline.js"></script>
    <!--Morris Chart-->
    <script src="/js/morris.js"></script>
    <script src="/js/raphael-min.js"></script>
    <!--jQuery Flot Chart-->
    <script src="/js/jquery.flot.js"></script>
    <script src="/js/jquery.flot.tooltip.min.js"></script>
    <script src="/js/jquery.flot.resize.js"></script>
    <script src="/js/jquery.flot.pie.resize.js"></script>
    <script src="/js/jquery.flot.animator.min.js"></script>
    <script src="/js/jquery.flot.growraf.js"></script>
    <script src="/js/dashboard.js"></script>
    <script src="/js/jquery.customSelect.min.js"></script>
    <!--common script init for all pages-->
    <script src="/js/scripts.js"></script>
    <!--script for this page-->
    <script src="/js/all.js"></script>

    <div id="flotTip" style="display: none; position: absolute;"></div>
    <div class="jvectormap-label" style="display: none; left: 631px; top: 659px;">Oregon</div>
</body>

</html>
