<!--mini statistics start-->
<div class="row" style="display: none;">
    <div class="col-md-3">
        <section class="panel">
            <div class="panel-body">
                <div class="top-stats-panel">
                    <div class="daily-visit">
                        <h4 class="widget-h">Daily Visitors</h4>
                        <div id="daily-visit-chart" style="width: 100%; height: 100px; display: block; padding: 0px; position: relative;">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-md-3">
        <section class="panel">
            <div class="panel-body">
                <div class="top-stats-panel">
                    <h4 class="widget-h">Top Advertise</h4>
                    <div class="sm-pie" style="padding: 0px; position: relative;">
                    </div>
                </div>
            </div>
        </section>
    </div>

</div>
<!--mini statistics end-->
<div class="row" style="display: none;">
    <div class="col-md-8">
        <!--earning graph start-->
        <section class="panel">
            <header class="panel-heading">

            </header>
            <div class="panel-body">
                <div id="graph-area" class="main-chart" style="position: relative;">
                </div>
            </div>
        </section>
        <!--earning graph end-->
    </div>
</div>

<!-- page start-->
<div class="row">
    <div class="col-sm-12">
        <section class="panel">
            <header class="panel-heading">
                Cities Table
                <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                            <a href="javascript:;" class="fa fa-cog"></a>
                            <a href="javascript:;" class="fa fa-times"></a>
                         </span>
            </header>
            <div class="panel-body">
                <table class="table  table-hover general-table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>City Name</th>
                            <th>Domestic Tourism</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each cities}}
                        <tr>
                            <td><a href="/admin/cities/detail/{{this._id}}" style="text-decoration: underline; color: #337ab7;">{{this._id}}</a></td>
                            <td>{{this.name}}</td>
                            {{#if this.location}}
                                <td><i class="fa fa-check" aria-hidden="true"></i></td>
                            {{else}}
                                <td></td>
                            {{/if}}
                            <td><a href="/admin/cities/remove/{{this._id}}"><i class="fa fa-times" aria-hidden="true"></i></a></td>
                            <td><a href="/admin/cities/edit/{{this._id}}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</div>
<!-- page end-->
