<!--mini statistics start-->
<div class="row" style="display: none;">
    <div class="col-md-3">
        <section class="panel">
            <div class="panel-body">
                <div class="top-stats-panel">
                    <div class="daily-visit">
                        <h4 class="widget-h">Daily Visitors</h4>
                        <div id="daily-visit-chart" style="width: 100%; height: 100px; display: block; padding: 0px; position: relative;">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-md-3">
        <section class="panel">
            <div class="panel-body">
                <div class="top-stats-panel">
                    <h4 class="widget-h">Top Advertise</h4>
                    <div class="sm-pie" style="padding: 0px; position: relative;">
                    </div>
                </div>
            </div>
        </section>
    </div>

</div>
<!--mini statistics end-->
<div class="row" style="display: none;">
    <div class="col-md-8">
        <!--earning graph start-->
        <section class="panel">
            <header class="panel-heading">

            </header>
            <div class="panel-body">
                <div id="graph-area" class="main-chart" style="position: relative;">
                </div>
            </div>
        </section>
        <!--earning graph end-->
    </div>

</div>
<!-- page start-->
<div class="row">
    <div class="col-sm-12">
        <section class="panel">
            <header class="panel-heading">
                Edit Product
                <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                            <a href="javascript:;" class="fa fa-cog"></a>
                            <a href="javascript:;" class="fa fa-times"></a>
                         </span>
            </header>
            <div class="panel-body">
                <form action="/admin/tours/edited/{{id}}" method="POST" enctype="application/x-www-form-urlencoded">
                    <div class="form-group">
                        <input type="text" id="name" name="name" placeholder="Add your tour name" value="{{name}}"/>
                        <select id="start_city" name="start_city" >
                            <option value="">--Start place--</option>
                            {{#each cities}}
                            <option value="{{this}}">{{this}}</option>
                            {{/each}}
                        </select>
                        <select id="end_city" name="end_city">
                            <option value="">--Destination place--</option>
                            {{#each cities}}
                            <option value="{{this}}">{{this}}</option>
                            {{/each}}
                        </select>
                        <input type="date" id="start_date" name="start_date" />
                        <input type="number" id="price" name="price" placeholder="Add your tour price" value="{{price}}"/>
                        <input type="number" id="reduce" name="reduce" placeholder="Add your tour reduce" value="{{reduce}}"/>
                        <input type="number" id="amount" name="amount" placeholder="Add your tour amount" value="{{amount}}"/>
                    </div>
                    <div class="form-group">
                        <textarea id="detail" name="detail" cols="179" rows="3" placeholder="Add your tour detail..." ></textarea>
                    </div>
                    <div class="form-group">
                        <a href="#" id="upload_widget_opener"><img id="imageid" src="http://res.cloudinary.com/hcmus-edu/image/upload/v1498516539/image_hhakda.png" height="200" width="200"></a>
                        <input type="text" cols="179" id="image" name="image" placeholder="Add link of your picture" style="width:500px;"/>
                    </div>
                    <input type="submit" value="Submit" />
                </form>

            </div>
        </section>
    </div>
</div>

<script>
    document.getElementById("start_city").value = "{{start_city}}";
    document.getElementById("end_city").value = "{{end_city}}";
    document.getElementById("detail").value = "{{detail}}";
    document.getElementById("start_date").value = "{{start_date}}";

    document.getElementById("upload_widget_opener").addEventListener("click", function() {
    cloudinary.openUploadWidget({ cloud_name: 'hcmus-edu', upload_preset: 'pczoogcr',  cropping: 'server', multiple: false},
      function(error, result) {
          document.getElementById("image").value = result[0].url;
          document.getElementById("imageid").src = result[0].url;
      });
  }, false);
</script>
