<!--background-->
<h1> Loggin </h1>
<div class="bg-agile">
    <div class="row-2-w3ls">
        <!-- login -->
        <div class="login margin-w3ls w3l w3-agile-width">
            <div class="modal-content modal-info">
                <div class="modal-header">
                    <h2>Login form</h2>
                </div>
                <div class="modal-body-w3layouts">
                    <p style="color:red;">(*) Username or password invalid</p>
                    <div class="login-form">
                        <form method="post" action="/customers/login">
                            <input type="text" class="user" name="username" placeholder="Username" required="" />
                            <input type="password" class="lock" name="password" placeholder="Password" required="" />
                            <div class="signin-rit">
                                <span class="checkbox1">
                                    <label class="checkbox"><input type="checkbox" name="checkbox" checked="">Remember me</label>
                                </span>
                                <a class="forgot" href="#">Forgot Password?</a>
                            <div class="clear"> </div>
                            </div>
                            <input type="submit" value="Login">
                        </form>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <!-- //login -->
    </div>
    <div class="clear"></div>
</div>
