<!--mini statistics start-->
<div class="row" style="display: none;">
    <div class="col-md-3">
        <section class="panel">
            <div class="panel-body">
                <div class="top-stats-panel">
                    <div class="daily-visit">
                        <h4 class="widget-h">Daily Visitors</h4>
                        <div id="daily-visit-chart" style="width: 100%; height: 100px; display: block; padding: 0px; position: relative;">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-md-3">
        <section class="panel">
            <div class="panel-body">
                <div class="top-stats-panel">
                    <h4 class="widget-h">Top Advertise</h4>
                    <div class="sm-pie" style="padding: 0px; position: relative;">
                    </div>
                </div>
            </div>
        </section>
    </div>

</div>
<!--mini statistics end-->
<div class="row" style="display: none;">
    <div class="col-md-8">
        <!--earning graph start-->
        <section class="panel">
            <header class="panel-heading">

            </header>
            <div class="panel-body">
                <div id="graph-area" class="main-chart" style="position: relative;">
                </div>
            </div>
        </section>
        <!--earning graph end-->
    </div>

</div>
<!-- page start-->
<div class="row">
    <div class="col-sm-12">
        <section class="panel">
            <header class="panel-heading">
                Login Page
            </header>
            <div class="panel-body">
                <h2 class="page-header">Account Login</h2>
                {{#if error_msg}}
                    <div class="alert alert-warning">{{error_msg}}</div>
                {{/if}}
                <form method="post" action="/admin/user/login">
                    <div class="form-group">
                        <label>Username</label>
                        <input type="text" class="form-control" name="username" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" name="password" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>

            </div>
        </section>
    </div>
</div>

