<!--mini statistics start-->
<div class="row" style="display: none;">
    <div class="col-md-3">
        <section class="panel">
            <div class="panel-body">
                <div class="top-stats-panel">
                    <div class="daily-visit">
                        <h4 class="widget-h">Daily Visitors</h4>
                        <div id="daily-visit-chart" style="width: 100%; height: 100px; display: block; padding: 0px; position: relative;">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-md-3">
        <section class="panel">
            <div class="panel-body">
                <div class="top-stats-panel">
                    <h4 class="widget-h">Top Advertise</h4>
                    <div class="sm-pie" style="padding: 0px; position: relative;">
                    </div>
                </div>
            </div>
        </section>
    </div>

</div>
<!--mini statistics end-->
<div class="row" style="display: none;">
    <div class="col-md-8">
        <!--earning graph start-->
        <section class="panel">
            <header class="panel-heading">

            </header>
            <div class="panel-body">
                <div id="graph-area" class="main-chart" style="position: relative;">
                </div>
            </div>
        </section>
        <!--earning graph end-->
    </div>
</div>

<!-- page start-->
<div class="row">
    <div class="col-sm-6">
        <section class="panel">
            <header class="panel-heading">
                Order detail
                <span class="tools pull-right">
                    <a href="/order/remove/{{id}}" class="fa fa-times"></a>
                </span>
            </header>
            <div class="panel-body">
                <h3>ID</h3>
                <p>
                    {{order.id}}
                </p>
                <h3>Tour Name</h3>
                <p>
                    {{order.tourName}}
                </p>
                <h3>Tour ID</h3>
                <p>
                    {{order.tourID}}
                </p>
                <h3>Name</h3>
                <p>
                    {{order.name}}
                </p>
                <h3>Phone</h3>
                <p>
                    {{order.phone}}
                </p>
                <h3>Email</h3>
                <p>
                    {{order.email}}
                </p>
            </div>
        </section>
    </div>
</div>
<!-- page end-->

