<!--background-->
<h1> Register </h1>
<div class="bg-agile">
    <div class="row-2-w3ls">
        <!--register-->
        <div class="login register w3l w3-agile-width">
            <div class="modal-content modal-info">
                <div class="modal-header">
                    <h3>Register form</h3>
                </div>
                <div class="modal-body-w3layouts register-height-w3ls">
                    {{#if errors}}
                        {{#each errors}}
                            <p style="color:red;">(*) {{msg}}</p>
                        {{/each}}
                    {{/if}}
                    <div class="login-form">
                        <form method="post" action="/customers/register">
                            <a href="#" id="upload_widget_opener"><img id="imageid" src="/images/admin.jpg" height="100" width="100"></a>
                            <input type="text" id="image" name="image" placeholder="Add link of your picture" />
                            <input type="text" placeholder="Name" name="name">
                            <input type="text"  name="username" placeholder="Username" />
                            <input type="email" name="email" placeholder="Email" />
                            <input type="text" placeholder="Phone" name="phone">
                            <input type="password" class="lock" name="password" placeholder="Password" />
                            <input type="password" class="lock" name="password2" placeholder="Confirm Password" />
                            <input type="submit" value="Register">
                        </form>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <!--//register-->
    </div>
    <div class="clear"></div>
</div>
