<!--mini statistics start-->
<div class="row" style="display: none;">
    <div class="col-md-3">
        <section class="panel">
            <div class="panel-body">
                <div class="top-stats-panel">
                    <div class="daily-visit">
                        <h4 class="widget-h">Daily Visitors</h4>
                        <div id="daily-visit-chart" style="width: 100%; height: 100px; display: block; padding: 0px; position: relative;">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-md-3">
        <section class="panel">
            <div class="panel-body">
                <div class="top-stats-panel">
                    <h4 class="widget-h">Top Advertise</h4>
                    <div class="sm-pie" style="padding: 0px; position: relative;">
                    </div>
                </div>
            </div>
        </section>
    </div>

</div>
<!--mini statistics end-->
<div class="row" style="display: none;">
    <div class="col-md-8">
        <!--earning graph start-->
        <section class="panel">
            <header class="panel-heading">

            </header>
            <div class="panel-body">
                <div id="graph-area" class="main-chart" style="position: relative;">
                </div>
            </div>
        </section>
        <!--earning graph end-->
    </div>

</div>
<!-- page start-->
<div class="row">
    <div class="col-sm-12">
        <section class="panel">
            <header class="panel-heading">
                Register Page
            </header>
            <div class="panel-body">
                <h2 class="page-header">Register</h2>
                {{#if errors}}
                    {{#each errors}}
                        <div class="alert alert-danger">{{msg}}</div>
                    {{/each}}
                {{/if}}
                <form method="post" action="/admin/user/register">
                    <div class="form-group">
                        <a href="#" id="upload_widget_opener"><img id="imageid" src="/images/admin.jpg" height="100" width="100"></a>
                    </div>
                    <div class="form-group">
                        <label>Image url</label>
                        <input type="text" id="image" name="image" placeholder="Add link of your picture" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" placeholder="Name" name="name">
                    </div>
                    <div class="form-group">
                        <label>Username</label>
                        <input type="text" class="form-control" placeholder="Username" name="username">
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" class="form-control" placeholder="Email" name="email">
                    </div>
                    <div class="form-group">
                        <label>Phone</label>
                        <input type="text" class="form-control" placeholder="Phone" name="phone">
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" placeholder="Password" name="password">
                    </div>
                    <div class="form-group">
                        <label>Confirm Password</label>
                        <input type="password" class="form-control" placeholder="Password" name="password2">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </section>
    </div>
</div>

<script type="text/javascript">
  document.getElementById("upload_widget_opener").addEventListener("click", function() {
    cloudinary.openUploadWidget({ cloud_name: 'hcmus-edu', upload_preset: 'pczoogcr', cropping: 'server', multiple: false},
      function(error, result) {
          document.getElementById("image").value = result[0].url;
          document.getElementById("imageid").src = result[0].url;
      });
  }, false);
</script>
