<div class="dathm-search-tour" id="dathm-search-tour">
    <div class="container">
        <div class="dathm-group">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 dathm-item">
                    <form class="dathm-center form-inline" action="/search" method="POST" enctype="application/x-www-form-urlencoded">
                        <select class="form-control" id="start_city" name="start_city">
                            <option value="1">---Start place---</option>
                            {{#each cities}}
                            <option value="{{this}}">{{this}}</option>
                            {{/each}}
                        </select>
                        <select class="form-control" id="end_city" name="end_city">
                            <option value="1">---Destination---</option>
                            {{#each cities}}
                            <option value="{{this}}">{{this}}</option>
                            {{/each}}
                        </select>
                        <input type="date" class="form-control" id="start_date" name="start_date" placeholder="Departure date" />
                        <select class="form-control" id="priceRange" name="priceRange">
                            <option value="1">---Price--</option>
                            <option value="2">1 - 2 Million</option>
                            <option value="3">2 - 3 Million</option>
                            <option value="4">3 - 4 Million</option>
                            <option value="5">4 - 5 Million</option>
                            <option value="6">Over 5 Million </option>
                        </select>
                        <select class="form-control" id="reduce" name="reduce">
                            <option value="0">---Reduce---</option>
                            <option value="0.1">10%</option>
                            <option value="0.2">20%</option>
                            <option value="0.3">30%</option>
                            <option value="0.4">40%</option>
                        </select>
                        <select class="form-control" id="checkAmount" name="checkAmount">
                            <option value="1">---All---</option>
                            <option value="2">Slot available</option>
                            <option value="3">Full slot</option>
                        </select>
                        <button type="submit" class="btn btn-primary">Find tour</button>
                    </form>
                </div>
            </div>
        </div>
    </div> <!--container-->
</div> <!--dathm-search-tour-->

<div class="dathm-tour" id="dathm-tour">
    <div class="container">
        <div class="dathm-group">
            <div class="row">
                {{#each tours}}
                    <div class="col-md-3 col-sm-4 col-xs-6 dathm-item">
                        <div class="dathm-image">
                            <a href="/tourdetail/{{this._id}}" class="thumbnail">
                                <img src="{{this.image}}" alt="img-responsive">
                            </a>
                            <div class="dathm-price hidden-xs hidden-sm">
                                <div class="size clearfix">
                                    <span class="pull-left">Price</span>
                                    <span class="pull-right">
                                        <ul>
                                            <li>{{this.price}} VNĐ</li>
                                        </ul>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="dathm-name text-center"><a href="/tourdetail/{{this._id}}">{{this.name}}</a></div>
                        <p class="dathm-detail text-center">Amount: {{this.slot}}/{{this.amount}}</p>
                    </div>
                {{/each}}

            </div>
        </div>
    </div> <!--container-->
</div> <!--dathm-tour-->

<script>
    document.getElementById("start_city").value = "{{searchValue.start_city}}" || "1";
    document.getElementById("end_city").value = "{{searchValue.end_city}}" || "1";
    document.getElementById("priceRange").value = "{{searchValue.priceRange}}" || "1";
    document.getElementById("reduce").value = "{{searchValue.reduce}}" || "0";
    document.getElementById("checkAmount").value = "{{searchValue.checkAmount}}" || "1";
    document.getElementById("start_date").value = "{{searchValue.start_date}}";
</script>
