<div class="dathm-search-tour" id="dathm-search-tour">
    <div class="container">
        <div class="dathm-group">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 dathm-item">
                    <form class="dathm-center form-inline" action="/search" method="POST" enctype="application/x-www-form-urlencoded">
                        <select class="form-control" id="start_city" name="start_city">
                            <option value="1">---Start place---</option>
                            {{#each cities}}
                            <option value="{{this}}">{{this}}</option>
                            {{/each}}
                        </select>
                        <select class="form-control" id="end_city" name="end_city">
                            <option value="1">---Destination---</option>
                            {{#each cities}}
                            <option value="{{this}}">{{this}}</option>
                            {{/each}}
                        </select>
                        <input type="date" class="form-control" id="start_date" name="start_date" placeholder="Departure date" />
                        <select class="form-control" id="priceRange" name="priceRange">
                            <option value="1">---Price--</option>
                            <option value="2">1 - 2 Million</option>
                            <option value="3">2 - 3 Million</option>
                            <option value="4">3 - 4 Million</option>
                            <option value="5">4 - 5 Million</option>
                            <option value="6">Over 5 Million </option>
                        </select>
                        <select class="form-control" id="reduce" name="reduce">
                            <option value="0">---Reduce---</option>
                            <option value="0.1">10%</option>
                            <option value="0.2">20%</option>
                            <option value="0.3">30%</option>
                            <option value="0.4">40%</option>
                        </select>
                        <select class="form-control" id="checkAmount" name="checkAmount">
                            <option value="1">---All---</option>
                            <option value="2">Slot available</option>
                            <option value="3">Full slot</option>
                        </select>
                        <button type="submit" class="btn btn-primary">Find tour</button>
                    </form>
                </div>
            </div>
        </div>
    </div> <!--container-->
</div> <!--dathm-search-tour-->

<div class="dathm-about" id="dathm-about">
    <div class="container">
        <div class="row headding">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="line"></div>
                <div class="text-headding"><span><a>About</a></span></div>
                <h2 class="text-center">Welcome to our website</h2>
                <p class="text-center">Meet Our Members - Night Owls Squad</p>
            </div>
        </div>
        <div class="dathm-group">
            <div class="row">
                <div class="col-md-3 col-sm-4 col-xs-6 dathm-item">
                    <div class="dathm-image text-center">
                        <a href="members/1312120/1312120.html">
                            <img src="images/dathm-img.jpg" alt="img-responsive" class="img-circle">
                        </a>
                    </div>

                    <div class="dathm-name text-center"><a href="members/1312120/1312120.html">Ha Minh Dat</a></div>
                    <p class="text-center">Web Designer</p>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-6 dathm-item">
                    <div class="dathm-image text-center">
                        <a href="members/1312120/1312120.html">
                            <img src="images/dathm-img.jpg" alt="img-responsive" class="img-circle">
                        </a>
                    </div>

                    <div class="dathm-name text-center"><a href="members/1312120/1312120.html">Ha Minh Dat</a></div>
                    <p class="text-center">Support</p>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-6 dathm-item">
                    <div class="dathm-image text-center">
                        <a href="members/1312120/1312120.html">
                            <img src="images/dathm-img.jpg" alt="img-responsive" class="img-circle">
                        </a>
                    </div>

                    <div class="dathm-name text-center"><a href="members/1312120/1312120.html">Ha Minh Dat</a></div>
                    <p class="text-center">Boss</p>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-6 dathm-item">
                    <div class="dathm-image text-center">
                        <a href="members/1312120/1312120.html">
                            <img src="images/dathm-img.jpg" alt="img-responsive" class="img-circle">
                        </a>
                    </div>

                    <div class="dathm-name text-center"><a href="members/1312120/1312120.html">Ha Minh Dat</a></div>
                    <p class="text-center">Fixer</p>
                </div>
            </div>
        </div>
    </div> <!--container-->
</div> <!--dathm-about-->

<div class="dathm-tour" id="dathm-tour">
    <div class="container">
        <div class="row headding">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="line"></div>
                <div class="text-headding"><span><a href="/search">Tour</a></span></div>
            </div>
        </div>
        <div class="dathm-group">
            <div class="row">
                {{#each tours}}
                    <div class="col-md-3 col-sm-4 col-xs-6 dathm-item">
                        <div class="dathm-image">
                            <a href="/tourdetail/{{this._id}}" class="thumbnail">
                                <img src="{{this.image}}" alt="img-responsive">
                            </a>
                            <div class="dathm-price hidden-xs hidden-sm">
                                <div class="size clearfix">
                                    <span class="pull-left">Price</span>
                                    <span class="pull-right">
                                        <ul>
                                            <li>{{this.price}} VNĐ</li>
                                        </ul>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="dathm-name text-center"><a href="/tourdetail/{{this._id}}">{{this.name}}</a></div>
                        <p class="dathm-detail text-center">Amount: {{this.slot}}/{{this.amount}}</p>
                    </div>
                {{/each}}

            </div>
        </div>
    </div> <!--container-->
</div> <!--dathm-tour-->

<div class="dathm-services" id="dathm-services">
    <div class="container">
        <div class="row headding">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="line"></div>
                <div class="services-headding"><span><a>Services</a></span></div>

            </div>
        </div>
        <div class="dathm-group">
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="service-logo text-center">
                        <a href="#" ><span class="fa fa-youtube-play"></span></a>
                    </div>

                    <div class="caption text-center">
                        <h3 class="text-center"><a href="#">youtube</a></h3>
                        <p>YouTube is an American video-sharing website headquartered in San Bruno, California. The service was created by three former PayPal employees—Chad Hurley, Steve Chen, and Jawed Karim—in February 2005.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="service-logo text-center">
                        <a href="#" ><span class="fa fa-facebook-official"></span></a>
                    </div>

                    <div class="caption text-center">
                        <h3 class="text-center"><a href="#">facebook</a></h3>
                        <p>Facebook (FB) is an American for-profit corporation and online social media and social networking service based in Menlo Park, California. The Facebook website was launched on February 4, 2004, by Mark Zuckerberg, along with fellow Harvard College students and roommates, Eduardo Saverin, Andrew McCollum, Dustin Moskovitz, and Chris Hughes.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="service-logo text-center">
                        <a href="#" ><span class="fa fa-google-plus-square"></span></a>
                    </div>

                    <div class="caption text-center">
                        <h3 class="text-center"><a href="#">google +</a></h3>
                        <p>Google+ (pronounced and sometimes written as Google Plus) is an interest-based social network that is owned and operated by Google.</p>
                    </div>
                </div>
            </div>
        </div>
    </div> <!--container-->
</div> <!--dathm-services-->

<div class="dathm-gallery" id="dathm-gallery">
    <div class="container">
        <div class="row headding">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="line"></div>
                <div class="text-headding"><span><a>Gallery</a></span></div>

            </div>
        </div>
        <div class="dathm-group">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12 lookbook-item-home wrap-realab-lookbook">
                    <div class="realab-lb-img">
                        <a href="#"><img src="images/gallery/picture1.jpg" alt="img-responsive"></a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 lookbook-item-home wrap-realab-lookbook">
                    <div class="realab-lb-img">
                        <a href="#"><img src="images/gallery/picture2.jpg" alt="img-responsive"></a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 lookbook-item-home wrap-realab-lookbook">
                    <div class="realab-lb-img">
                        <a href="#"><img src="images/gallery/picture3.jpg" alt="img-responsive"></a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 lookbook-item-home wrap-realab-lookbook">
                    <div class="realab-lb-img">
                        <a href="#"><img src="images/gallery/picture4.jpg" alt="img-responsive"></a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 lookbook-item-home wrap-realab-lookbook">
                    <div class="realab-lb-img">
                        <a href="#"><img src="images/gallery/picture5.jpg" alt="img-responsive"></a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 lookbook-item-home wrap-realab-lookbook">
                    <div class="realab-lb-img">
                        <a href="#"><img src="images/gallery/picture6.jpg" alt="img-responsive"></a>
                    </div>
                </div>
            </div>
        </div>
    </div> <!--container-->
</div> <!--dathm-gallery-->
