<!--mini statistics start-->
<div class="row" style="display: none;">
    <div class="col-md-3">
        <section class="panel">
            <div class="panel-body">
                <div class="top-stats-panel">
                    <div class="daily-visit">
                        <h4 class="widget-h">Daily Visitors</h4>
                        <div id="daily-visit-chart" style="width: 100%; height: 100px; display: block; padding: 0px; position: relative;">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-md-3">
        <section class="panel">
            <div class="panel-body">
                <div class="top-stats-panel">
                    <h4 class="widget-h">Top Advertise</h4>
                    <div class="sm-pie" style="padding: 0px; position: relative;">
                    </div>
                </div>
            </div>
        </section>
    </div>

</div>
<!--mini statistics end-->
<div class="row" style="display: none;">
    <div class="col-md-8">
        <!--earning graph start-->
        <section class="panel">
            <header class="panel-heading">

            </header>
            <div class="panel-body">
                <div id="graph-area" class="main-chart" style="position: relative;">
                </div>
            </div>
        </section>
        <!--earning graph end-->
    </div>
</div>

<!-- page start-->
<div class="row">
    <div class="col-sm-6">
        <section class="panel">
            <header class="panel-heading">
                Tour detail
                <span class="tools pull-right">
                    <a href="/admin/tours/edit/{{id}}" class="fa fa-pencil-square-o"></a>
                    <a href="/admin/tours/remove/{{id}}" class="fa fa-times"></a>
                </span>
            </header>
            <div class="panel-body">
                <p class="thumbnail"><img src="{{image}}" ></p>
                <h3>ID</h3>
                <p>
                    {{id}}
                </p>
                <h3>Name</h3>
                <p>
                    {{name}}
                </p>
                <h3>Detail</h3>
                <p>
                    {{detail}}
                </p>
                <h3>Start Place</h3>
                <p>
                    {{start_city}}
                </p>
                <h3>Destination Place</h3>
                <p>
                    {{end_city}}
                </p>
                <h3>Start Date</h3>
                <p>
                    {{start_date}}
                </p>
                <h3>Price</h3>
                <p>
                    {{price}}
                </p>
                <h3>Reduce</h3>
                <p>
                    {{reduce}}
                </p>
                <h3>Amount</h3>
                <p>
                    {{amount}}
                </p>
            </div>
        </section>
    </div>
</div>
<!-- page end-->

