<div class="dathm-tour-detail">
    <div class="container">
        <div class="row headding">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="line"></div>
                <div class="text-headding"><span><a>Tour Detail</a></span></div>
                {{#if success_msg}}
                    <div class="alert alert-success">{{success_msg}}</div>
                {{/if}}
                {{#if error_msg}}
                    <div class="alert alert-danger">{{error_msg}}</div>
                {{/if}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-5 detail-img">
                <a href="#" class="thumbnail">
                    <img src="{{tour.image}}" alt="img-responsive">
                </a>
            </div>

            <div class="col-md-8 col-sm-7">
                <h2>{{tour.name}}</h2>
                <p>{{tour.detail}}</p>
                <div class="sub-detail">
                    <h4>Price: {{tour.price}} VND</h4>
                    <h4>Reduce: {{tour.reduce}}</h4>
                    <h4>Amount: {{tour.slot}}/{{tour.amount}}</h4>
                </div>
                {{#if flat}}
                    <input type="button" name="book" id="book" class="btn btn-success" value="BOOK"></input>
                {{/if}}
                <div class="clearfix" />
                <div id="sub-info" class="sub-info" style="display: none;">
                    <form method="post" action="/orders/added">
                        <div class="form-group hidden">
                            <input type="text" class="form-control" name="tourName" value="{{tour.name}}">
                            <input type="text" class="form-control" name="tourID" value="{{tour._id}}">
                            <input type="text" class="form-control" name="start_date" value="{{tour.start_date}}">
                        </div>
                        {{#if user}}
                            <div class="form-group hidden">
                                <label>Name</label>
                                <input type="text" class="form-control" placeholder="Name" name="name" value="{{user.name}}">
                            </div>
                            <div class="form-group hidden">
                                <label>Email</label>
                                <input type="email" class="form-control" placeholder="Email" name="email" value="{{user.email}}">
                            </div>
                            <div class="form-group hidden">
                                <label>Phone</label>
                                <input type="text" class="form-control" placeholder="Phone" name="phone" value="{{user.phone}}">
                            </div>
                        {{else}}
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" class="form-control" placeholder="Name" name="name">
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input type="email" class="form-control" placeholder="Email" name="email">
                            </div>
                            <div class="form-group">
                                <label>Phone</label>
                                <input type="text" class="form-control" placeholder="Phone" name="phone">
                            </div>
                        {{/if}}
                        <div class="form-group">
                            <p>Please confirm information. Congratulations! Have fun trip</p>
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                </div>
                <div class="detail-feedback">
                    <form method="post" action="/feedback">
                        <div class="feedback-en form-inline form-group">
                            <input type="text" class="hidden" name="tourID" value="{{tour._id}}">
                            <input type="text" class="form-control" name="name" placeholder="Name" style="width: 39%;">
                            <input type="text" class="form-control" name="email" placeholder="Email" style="width: 60%;">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="content"></textarea>
                            <input type="submit" class="btn btn-danger" value="send"></input>
                            <div class="clearfix" />
                        </div>
                    </form>
                </div>
                <div class="content-feedback">
                    <div class="panel panel-default">
                        <div class="panel-heading"><h3>Customer feedback ({{length}})</h3></div>
                        <div class="panel-body">
                            {{#each feedbacks}}
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="clearfix">
                                    <h4 class="name">{{this.name}}</h4> <h5 class="date">{{this.create_date}}</h5>
                                    </div>
                                    <p>{{this.content}}</p>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!--container-->
</div> <!--dathm-tour-detail-->

<script>
document.getElementById('book').addEventListener('click', function() {
    var x = document.getElementById('sub-info');
    if (x.style.display === 'none') {
        x.style.display = 'block';
    } else {
        x.style.display = 'none';
    }
});
</script>
